body {
    background-color: white !important;
}


.create-new-entry-div {
    height: auto;
    width: 100%;
}
.create-new-entry-div > .create-new-entry-btn{
    border: solid 1px black;
    height: auto;
    width: auto;
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    align-self: right;
}

.notebook-container > .journals-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.journals-list > .journal-entry {
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.journal-user > .profile-pic {
    max-height: 50px;
    border-radius: 20px;
  }