body {
    background-color: white !important;

}

:root {
    --white: #FFFFFF;
    --tan-1: #FBF9F6;
    --tan-2: #E7E2DD;
    --tan-3: #E2D9D1;
    --tan-4: #D3C1AE;
    --purple-1: #9F73AB;
    --blue-1: #A3C7D6;
    --green-1: #ADCF9F;
    --orange: #F67F00;
    --darkgreen:#2F4858;
    --darkblue: #384F71;
    --purple-2: #575184;
    --purple-3: #824C88;
    --soremauve: #AC437C;
    --red: #CC3F60;
    --text-light: #968c84;
    --text-dark: #615954;
    --font-nav: 'Helvetica';
    --font-header: 'Rubik';
  
  }


.journal-page-header {
    grid-column-start: 2;
    color: white;
}



.create-new-entry-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    width: 100%;
}
.create-new-entry-div > .create-new-entry-btn{
    grid-column-start: 3;
    border: solid 1px black;
    height: 40px;
    width: 225px;
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.notebook-container > .journals-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 15px;
    width: 100%;
    align-items: center;
    margin-left: 50px;

}

.journals-list > .journal-entry {
    display: grid;
    grid-template-rows: .5fr 1fr .1fr;
    width: 375px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(24, 3, 1, .5);
}

.journal-entry > .entry-header {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9F73AB;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.entry-header > .entry-title {
    justify-self: center;
    align-self: center;
    color: white;
}

.journal-entry > .entry-body {
    height: 100%;
    padding: 10px;
    overflow-y: scroll;


}
.journal-entry > .entry-lower {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: var(--tan-4);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.entry-lower > .journal-user {

}
.entry-lower > .options-container {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.entry-lower > .time-stamp {
    height: auto;
    width: 100%;
    font-size: 12px;
    margin-left: 50px;
}

.options-container > .del-btn, .edit-btn {
    max-height: 25px;
}
.options-container > .del-btn:hover, .edit-btn:hover {
    max-height: 30px;

}

.journal-user > .profile-pic {
    max-height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: -15px;
    grid-column-start: 1;
  }

