.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
    height: 100%;
    width: 60vw;
  }


  
  .RichEditor-root > .edit-controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    
.RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
    }


 .editor-submit-btn {
        background-color: blue !important;
        width: 100px;
        height: 40px;
        position: fixed;
        margin-left: 50%;
        margin-top: 17%;
        color: white;
      }
    
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 250px;
    width: 100%;

  }
  

  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
    display: flex;
    flex-direction: row;
  }

  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    border: 1px solid grey;
    height: 35px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .RichEditor-styleButton > .ico-img {
    max-width: 20px;
  }
  
  .RichEditor-activeButton {
    color: #5890ff;
    border: 3px solid #5890ff;
  }


  @media only screen and (max-width: 900px) {

    .RichEditor-root {
      background: #fff;
      border: 1px solid #ddd;
      font-family: 'Georgia', serif;
      font-size: 14px;
      padding: 15px;
      height: 100%;
      width: 100%;
    }
  
  
    
    .RichEditor-root > .edit-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      
      
  .RichEditor-editor {
      border-top: 1px solid #ddd;
      cursor: text;
      font-size: 16px;
      margin-top: 10px;
      }
  
  
   .editor-submit-btn {
          background-color: blue !important;
          width: 100px;
          height: 40px;
          position: fixed;
          margin-left: 50%;
          margin-top: 17%;
          color: white;
        }
      
    .RichEditor-editor .public-DraftEditorPlaceholder-root,
    .RichEditor-editor .public-DraftEditor-content {
      margin: 0 -15px -15px;
      padding: 15px;
    }
    
    .RichEditor-editor .public-DraftEditor-content {
      min-height: 250px;
      width: 100%;
  
    }
    
  
    .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
      display: none;
    }
    
    .RichEditor-editor .RichEditor-blockquote {
      border-left: 5px solid #eee;
      color: #666;
      font-family: 'Hoefler Text', 'Georgia', serif;
      font-style: italic;
      margin: 16px 0;
      padding: 10px 20px;
    }
    
    .RichEditor-editor .public-DraftStyleDefault-pre {
      background-color: rgba(0, 0, 0, 0.05);
      font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
      font-size: 16px;
      padding: 20px;
    }
    
    .RichEditor-controls {
      font-family: 'Helvetica', sans-serif;
      font-size: 14px;
      margin-bottom: 5px;
      user-select: none;
      display: flex;
      flex-direction: row;
    }
  
    
    .RichEditor-styleButton {
      color: #999;
      cursor: pointer;
      padding: 5px;
      display: inline-block;
      border: 1px solid grey;
      height: 35px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .RichEditor-styleButton > .ico-img {
      max-width: 15px;
    }
    
    .RichEditor-activeButton {
      color: #5890ff;
      border: 3px solid #5890ff;
    }
  
  
  }