@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Public+Sans:wght@300;500&family=Rubik:wght@400;600&display=swap');


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --purple-1: #9F73AB;
  --blue-1: #A3C7D6;
  --green-1: #ADCF9F;
  --orange: #F67F00;
  --darkgreen:#2F4858;
  --darkblue: #384F71;
  --purple-2: #575184;
  --purple-3: #824C88;
  --soremauve: #AC437C;
  --red: #CC3F60;
  --text-light: #968c84;
  --text-dark: #615954;
  --font-nav: 'Helvetica';
  --font-header: 'Rubik';

}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #CC3F60, #824C88);
  padding: 0vmin;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--font-header);
  font-weight: 600;
  font-size: 11vh;
  color: white;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  width: 50vw;

}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--purple-1);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

.login {

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vmin;
  background-color: rgba(0, 0, 0, .1);
  width: 100vw;
  padding: 25px;
  font-family: var(--font-nav);
}

.navbar > a, .navname {
  color: white;
}

.navbar > Link {
  color: white;
}

.logo {
  width: auto;
  height: 50px;
}


body > .main-container {
  width: 100%;
  height: 100%;
}

.main-container > .home-cardcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  width: 95vw;
  margin-bottom: 30px;
}
.home-cardcontainer > .post-card {
  width: 30vw;
  height: 300px;
  background-color: var(--green-1);
}

.footer-container {
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
}