@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Public+Sans:wght@300;500&family=Rubik:wght@400;600&display=swap');


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  margin: 0;
  padding: 0;
}

/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --purple-1: #9F73AB;
  --blue-1: #A3C7D6;
  --green-1: #ADCF9F;
  --orange: #F67F00;
  --darkgreen:#2F4858;
  --darkblue: #384F71;
  --purple-2: #575184;
  --purple-3: #824C88;
  --soremauve: #AC437C;
  --red: #CC3F60;
  --text-light: #968c84;
  --text-dark: #615954;
  --font-nav: 'Helvetica';
  --font-header: 'Rubik';

}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #CC3F60, #824C88);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0vmin;
  height: 100;
  width: 100%;
}

.header > .header-title {
  color: white;
  text-shadow: 0 0 3px #000000;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--font-header);
  font-weight: 600;
  font-size: 3em;
}

li {
  list-style: none;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  width: 50vw;
  margin-bottom: 10%;
  
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

form > button {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  width: auto;
}



label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: green;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--purple-1);
}

/* button[type="submit"] {
  grid-column: span 2;
  margin: 2vmin 0 0;
} */


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vmin;
  background-color: rgba(0, 0, 0, .1);
  width: 100vw;
  padding: 25px;
  font-family: var(--font-nav);
}

.navbar > a, .navname {
  color: white;
}

.navbar > .navmenu {
  display: flex;
  gap: 15px;
}

.navmenu > .navname {
  color: white;
}

.navbar > Link {
  color: white;
}

.logo {
  width: auto;
  height: 50px;
}


.main-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;


}

.main-container > .home-cardcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  height: 100%;
  width: 95vw;
  margin-bottom: 2%;
}
.home-cardcontainer > .post-card {
  width: 30vw;
  height: auto;
  background-color: var(--tan-4);
  box-shadow: 10px 8px 10px 2px rgba(75, 0, 130, .2);
  border-radius: 20px;
}
.highlight-word {
  color: white;
}

.post-card > .post-card-body {
  padding: 0px 20px 15px 20px;
}

.post-card > .lower-card {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
  padding: 8px 15px;
  width: 100%;
  height: auto;
  background-color: #9F73AB;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lower-card > .card-user {
  display: inline-flex;
  gap: 7px;
  flex: 1;
  color: var(--darkgreen);
  cursor: pointer;
}

.lower-card > .card-actions {
  display: inline-flex;
  align-items: center;
  align-self: right;
  gap: 10px;
  cursor: pointer;
}

.card-actions > .card-ico {
  max-height: 25px;
  width: auto;
}

.main-container > .footer-container {
  height: auto;
  width: 100%;
  color: black;
  position: sticky;
  
}

.magic-word {
  color: var(--orange)
}


.feed-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: transparent;


}

.feed-container > .feed-header {
  display: flex;
  width: 80vw;
  height: 15vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .2);
  align-items: center;
  justify-content: center;
  margin-left: 20vw;
  z-index: 3;
}

.feed-container > .scroll-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80vw;
  margin-left: 20vw;
  margin-top: 15vh;
  height: 100%;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 0;
  overflow-y: scroll;
  
}
.scroll-container > .feed-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80vw;
  height: 85vh;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 0;
  overflow-y: scroll;
}

.scroll-container > .feed-title{
  margin-bottom: 15px;
  height: auto;
  font-size: 5vh;
  color: white;
}

.feed-list > .post-list {
  height: 100%;
}

.post-list > .post-card {
  width: 60vw;
  height: auto;
  background-color: var(--tan-4);
  box-shadow: 10px 8px 10px 2px rgba(75, 0, 130, .2);
  border-radius: 20px;
}

.post-card > .card-title {
  padding-top: 20px;
}

.feed-container > .user-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20vw;
  font-size: 20px;
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, .4);
}
.user-nav > .user-links {
  height: 45%;
  order: 1;
}

.user-links > .user-link {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  color: white;

}

.user-nav > .acct-block {
  height: auto;
  border-top: 1px solid rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 55px;
  height: auto;
  order: 3;
}

.acct-block > .acct-link {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  color: white;
}


.user-nav > .user-block {
  height: 265px;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  order: 1;
}

.user-block > .profile-pic {
  max-height: 150px;
  border-radius: 20px;
}

.acct-block > .user-nav-item {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
}

.feed-container > .journal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(108, 122, 137, .4);


}

.journal-container > .journal-canvas {
  height: 600px;
  width: 60vw;
  background-color: var(--tan-4);
  position: absolute;
  z-index: 1;
  margin-left: 20vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 8px 28px 25px rgba(0, 0, 0, .3);

}

.journal-canvas > .upper-canvas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: var(--purple-3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.upper-canvas > .entry-pic {
  margin-right: 50%;
  position: fixed;
  margin-top: 1%;
  color: white;
  font-size: 12px;
}
.upper-canvas > .canvas-title {
  white-space: wrap;
  color: white;
  font-size: .5vw;
  width: 65%;
  height: auto;
}

.question-selector {
  height: auto;
  font-size: 20px;
  background-color: rgba(0, 0, 0, .2);
  color: white;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid grey;
}

.entry-pic > .profile-pic {
  max-width: 75px;
  border-radius: 100%;
  margin-bottom: -15%;
}
.card-user > .profile-pic {
  max-width: 45px;
  max-height: 45px;
  border-radius: 100%;
  margin-bottom: -15%;
}

.journal-canvas > .body-canvas {
  height: 100%;
  width: 100%;
  color: black !important;
  background-color: pink;
}


.journal-canvas > .lower-canvas {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.lower-canvas > .privacy-btn {
  background-color: var(--purple-1);
  width: 85px;
}


.lower-canvas > .submit-btn {
  background-color: var(--green-1);
  width: 85px;
}

.body-canvas > textarea {
  height: 370px;
  width: 80%;
  resize: none;
  border: 2px solid var(--purple-3);
  padding: 10px;
  margin: 20px;
}

.upper-canvas > .canvas-exit {
  position: fixed;
  width: auto;
  height: auto;
  margin-left: 54%;
  margin-bottom: 3%;
  cursor: pointer;
  border-radius: 100%;
  text-align: center;
  padding: 2px;
}
.canvas-exit > .x-btn {
  width: 15px;
  height: auto;
}


.feed-header > .new-post-btn {
  position: fixed;
  margin-left: 60vw;
  cursor: pointer;
  z-index: 3;

}